.s-hero {
    position: relative;

    .thumb-slide {
        height: 32rem;
        left: 8%;
        position: absolute;
        top: 24.1rem;
        z-index: 99999;

        @include responsive("tablet") {
            bottom: 10.5rem;
            height: 5.6rem;
            left: 1.5rem;
            top: initial;
        }

        .swiper-slide {
            cursor: pointer;
            filter: grayscale(65%);
            height: 4.8rem;
            opacity: 0.4;
            width: 4.8rem;

            &-thumb-active {
                filter: grayscale(0%);
                opacity: 1;
            }
        }
    }

    .main-slide {
        height: 73.6rem;
        width: 100%;

        .swiper-wrapper {

            .swiper-slide {
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                padding-top: 20.7rem;

                .container {
                    align-items: flex-start;
                    display: flex;
                    justify-content: space-between;

                    .left-content {
                        margin-left: 19.3rem;
                        max-width: 56.2rem;
                        width: 100%;

                        @include responsive("tablet") {
                            margin-left: 0;
                        }

                        h2 {
                            font-size: 6.4rem;
                            font-weight: 700;
                            line-height: 110.2%;
                            margin-bottom: 1.6rem;

                            @include responsive("tablet") {
                                font-size: 5.6rem;
                            }

                            @include responsive("mobile") {
                                font-size: 4.4rem;
                                text-wrap: wrap;
                            }
                        }

                        p {
                            font-size: 1.8rem;
                            letter-spacing: -0.005rem;
                            line-height: 2.7rem;
                            margin-bottom: 3.2rem;

                            @include responsive("mobile") {
                                font-size: 1.6rem;
                                text-wrap: wrap;
                            }
                        }

                        .btn {
                            padding: 0 3.95rem;
                            line-height: 5.2rem;
                        }
                    }

                    .right-content {
                        margin-top: -3.4rem;
                        max-width: 29.2rem;
                        width: 100%;

                        @media (max-width: 780px) {
                            display: none;
                        }

                        .game-logo {
                            display: grid;
                            height: 18rem;
                            margin-bottom: 8.6rem;
                            overflow: hidden;
                            place-content: center;
                            width: 28rem;
                        }

                        .game-video {
                            overflow: hidden;
                            width: 28rem;

                            span {
                                display: block;
                                font-size: 1.3rem;
                                font-weight: 600;
                                line-height: 1.9rem;
                                margin-bottom: 1.6rem;
                                text-align: right;
                                text-transform: uppercase;
                            }

                            button {
                                height: 17.3rem;
                                overflow: hidden;
                                position: relative;
                                width: 100%;

                                .thumb {
                                    height: 100%;
                                    left: 0;
                                    object-fit: cover;
                                    position: absolute;
                                    top: 0;
                                    width: 100%;
                                }

                                .thumb.default {
                                    opacity: 1;
                                    transition: all 500ms ease;
                                    z-index: 998;

                                    &:hover {
                                        opacity: 0;
                                    }
                                }

                                img {
                                    border-radius: 0.4rem;
                                }

                                .icon {
                                    background-color: $neutral-100;
                                    border-radius: 999rem;
                                    display: grid;
                                    height: 4rem;
                                    margin: 0 auto;
                                    place-content: center;
                                    position: relative;
                                    width: 4rem;
                                    z-index: 999;

                                    img {
                                        margin-left: 0.2rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            #slide-diablo {
                background-image: url("../imgs/banner-slide-01.jpg");

                @include responsive("tablet") {
                    background-position: 30%;
                }
            }

            #slide-hearthstone {
                background-image: url("../imgs/banner-slide-02.jpg");
            }

            #slide-wow {
                background-image: url("../imgs/banner-slide-03.jpg");

                .left-content {
                    max-width: 62.6rem;
                }
            }
        }
    }
}

.s-games {
    margin-bottom: 10.7rem;

    .games-header {
        display: flex;
        justify-content: space-between;
        margin: 7.8rem 0;

        @include responsive("mobile") {
            flex-direction: column;
            gap: 2.4rem;
            align-items: center;
            text-align: center;
        }

        span {
            color: #8F9199;
            font-size: 1.5rem;
            font-weight: 600;
            text-transform: uppercase;

            @include responsive("mobile") {
                display: none;
            }
        }

        h2 {
            max-width: 17.5rem;
            width: 100%;

            @include responsive("mobile") {
                font-size: 3.6rem;
                max-width: 100%;
            }
        }

        ul {
            align-items: center;
            display: flex;
            justify-content: space-between;
            max-width: 16rem;
            width: 100%;

            a {
                opacity: 0.3;
                transition: all 300ms ease;

                &:hover {
                    opacity: 1;
                }

                &.active {
                    opacity: 1;
                }
            }
        }

        .all-games-button {
            align-items: center;
            color: $primary-default;
            display: grid;
            font-size: 1.6rem;
            font-weight: 600;
            grid-template-columns: 1rem 1fr;
            gap: 1rem;
            max-width: 14.6rem;
            width: 100%;
        }
    }

    .games-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 4.7rem 3.2rem;

        @include responsive("tablet") {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 750px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include responsive("mobile") {
            grid-template-columns: 1fr;
        }

        .all-games-card {
            align-items: center;
            border: 0.15rem solid #212428;
            border-radius: 0.4rem;
            display: flex;
            flex-direction: column;
            gap: 3.4rem;
            justify-content: center;
            max-height: 38.4rem;

            @include responsive("mobile") {
                padding: 8.8rem 0;
                max-width: 28rem;
                width: 100%;
                margin: 0 auto;
            }

            img {
                max-width: 8.677rem;
            }

            span {
                display: flex;
                font-weight: 600;
                gap: 1.2rem;
            }
        }
    }
}

.s-downloads {
    background-image: url("../imgs/background-section-download.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75rem;
    display: flex;
    align-items: center;
    overflow: hidden;

    @include responsive("tablet") {
        height: 60rem;
    }

    @media (max-width: 810px) {
        height: auto;
        padding: 9.6rem 0;
    }

    .container {
        position: relative;

        @media (max-width: 810px) {
            display: flex;
            flex-direction: column;
        }

        .texts {
            max-width: 30rem;
            width: 100%;

            @media (max-width: 810px) {
                max-width: 100%;
            }

            .logo-battlenet {
                margin-bottom: 3rem;
            }

            h3 {
                font-size: 3.2rem;
                font-weight: bold;
                max-width: 23rem;
                margin-bottom: 3rem;
                width: 100%;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 2.4rem;
                margin-bottom: 4.2rem;

                lI {
                    align-items: center;
                    color: #828792;
                    display: flex;
                    font-size: 1.8rem;
                    gap: 1.6rem;
                    line-height: 178%;
                }
            }
        }

        .images {
            height: 59rem;
            max-width: 100rem;
            position: absolute;
            top: -8rem;
            right: -22.5rem;
            width: 100%;

            @media (max-width: 1100px) {
                height: 55rem;
                max-width: 80rem;
            }

            @include responsive("tablet") {
                @media (max-width: 1100px) {
                    transform: scale(0.75);
                }
            }

            @media (max-width: 810px) {
                position: initial;
                max-width: 150%;
                width: 150%;
                display: block;
                overflow: hidden;
                display: none;
            }

            .first {
                position: absolute;
                left: 0;
                top: 0;
                animation: float 8000ms ease-in-out infinite;
            }

            .second {
                position: absolute;
                right: 8rem;
                bottom: -2.4rem;
                animation: float 6000ms ease-in-out infinite;
            }
        }
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}

.login-modal {
    align-items: center;
    display: flex;
    height: 100%;
    left: 0;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: all 300ms ease;
    width: 100%;
    z-index: 999999;

    &.active {
        opacity: 1;
        pointer-events: all;

        .box {
            transform: translateY(0);
        }
    }

    .overlay {
        background-color: hsla(0, 0%, 0%, 0.65);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 0;

    }

    .box {
        align-items: center;
        background: url("../imgs/bg-modal.png") no-repeat center center, #000;
        display: flex;
        flex-direction: column;
        height: 60rem;
        justify-content: center;
        max-width: 69.6rem;
        padding: 6.6rem;
        position: relative;
        text-align: center;
        transform: translateY(5rem);
        transition: transform 300ms;
        width: 100%;
        z-index: 1;

        .close {
            position: absolute;
            right: 2.4rem;
            top: 2.4rem;
        }

        .logo {
            margin-bottom: 4rem;
            width: 100%;
            max-width: 16.6rem;
        }

        form {
            margin-bottom: 3.2rem;
            max-width: 42.6rem;
            width: 100%;

            .form-group {
                margin-bottom: 1.6rem;
                max-width: 42.6rem;
                width: 100%;

                input {
                    border-radius: 0.4rem;
                    font-size: 1.5rem;
                    font-weight: 500;
                    height: 4.8rem;
                    line-height: 2.2rem;
                    outline: none;
                    padding: 0 1.6rem;
                    width: 100%;

                    &::placeholder {
                        color: $neutral-700;
                        font-size: 1.5rem;
                        font-weight: 500;
                    }
                }

                button {
                    box-sizing: border-box;
                    font-weight: 600;
                    line-height: 5.2rem;
                    justify-content: center;
                    margin-top: 0.8rem;
                    width: 100%;
                }
            }
        }

        .social-login {
            .text-info {
                font-size: 1.4rem;
                font-weight: 500;
            }

            ul {
                display: flex;
                gap: 1.6rem;
                justify-content: center;
                margin: 1.6rem 0 3.5rem 0;

                li {
                    background: #FFF;
                    display: flex;
                    padding: 1.4rem;
                    place-content: center;
                }
            }

            .create-account-text {
                margin-bottom: 1.6rem;
            }

            .modal-support-link {
                color: $primary-default;
                text-decoration: underline;
            }
        }
    }
}

body {
    position: relative;
}

.games-menu {
    background-color: #090909eb;
    backdrop-filter: blur(8px);
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 9.6rem;
    transform: translateY(-20px);
    transition: all 300ms;
    width: 100%;
    z-index: 99999;

    @include responsive("tablet") {
        display: none;
    }

    &.active {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
    }

    .games {
        display: grid;
        gap: 2.8rem;
        grid-template-columns: repeat(6, 1fr);
        padding: 3.8rem 0rem 5.5rem 0rem;
        
        @include responsive("tablet") {
            grid-template-columns: repeat(4, 1fr);
        }

        li {
            align-items: center;
            color: #9D9D9D;
            display: flex;
            flex-direction: column;
            font-size: 1.8rem;
            gap: 0.8rem;
            line-height: 120%;
            padding: 3.3rem;
            text-align: center;
        }
    }

    .menu-footer-links {
        align-items: center;
        background-color: $neutral-300;
        display: flex;
        justify-content: center;
        height: 7rem;
        flex-wrap: wrap;

        ul {
            display: flex;
            gap: 6.4rem;

            li a {
                align-items: center;
                display: flex;
                gap: 1rem;
            }
        }
    }
}