.s-hero {
    position: relative;

    .thumb-slide {
        height: 32rem;
        left: 8%;
        position: absolute;
        top: 24.1rem;
        z-index: 99999;

        .swiper-slide {
            cursor: pointer;
            filter: grayscale(65%);
            height: 4.8rem;
            opacity: 0.4;
            width: 4.8rem;

            &-thumb-active {
                filter: grayscale(0%);
                opacity: 1;
            }
        }
    }

    .main-slide {
        height: 73.6rem;
        width: 100%;

        .swiper-wrapper {

            .swiper-slide {
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                padding-top: 20.7rem;

                .container {
                    align-items: flex-start;
                    display: flex;
                    justify-content: space-between;

                    .left-content {
                        margin-left: 19.3rem;
                        max-width: 56.2rem;
                        width: 100%;

                        h2 {
                            font-size: 6.4rem;
                            font-weight: 700;
                            line-height: 110.2%;
                            margin-bottom: 1.6rem;
                        }

                        p {
                            font-size: 1.8rem;
                            letter-spacing: -0.005rem;
                            line-height: 2.7rem;
                            margin-bottom: 3.2rem;
                        }

                        .btn {
                            padding: 0 3.95rem;
                            line-height: 5.2rem;
                        }
                    }

                    .right-content {
                        margin-top: -3.4rem;
                        max-width: 29.2rem;
                        width: 100%;

                        .game-logo {
                            display: grid;
                            height: 18rem;
                            margin-bottom: 8.6rem;
                            overflow: hidden;
                            place-content: center;
                            width: 28rem;
                        }

                        .game-video {
                            overflow: hidden;
                            width: 28rem;

                            span {
                                display: block;
                                font-size: 1.3rem;
                                font-weight: 600;
                                line-height: 1.9rem;
                                margin-bottom: 1.6rem;
                                text-align: right;
                                text-transform: uppercase;
                            }

                            button {
                                height: 17.3rem;
                                overflow: hidden;
                                position: relative;
                                width: 100%;

                                .thumb {
                                    height: 100%;
                                    left: 0;
                                    object-fit: cover;
                                    position: absolute;
                                    top: 0;
                                    width: 100%;
                                }

                                .thumb.default {
                                    opacity: 1;
                                    transition: all 500ms ease;
                                    z-index: 998;

                                    &:hover {
                                        opacity: 0;
                                    }
                                }

                                img {
                                    border-radius: 0.4rem;
                                }

                                .icon {
                                    background-color: $neutral-100;
                                    border-radius: 999rem;
                                    display: grid;
                                    height: 4rem;
                                    margin: 0 auto;
                                    place-content: center;
                                    position: relative;
                                    width: 4rem;
                                    z-index: 999;

                                    img {
                                        margin-left: 0.2rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            #slide-diablo {
                background-image: url("../imgs/banner-slide-01.jpg");
            }

            #slide-hearthstone {
                background-image: url("../imgs/banner-slide-02.jpg");
            }

            #slide-wow {
                background-image: url("../imgs/banner-slide-03.jpg");

                .left-content {
                    max-width: 62.6rem;
                }
            }
        }
    }
}

.s-games {
    .games-header {
        display: flex;
        justify-content: space-between;
        margin: 7.8rem 0;

        span {
            color: #8F9199;
            font-size: 1.5rem;
            font-weight: 600;
            text-transform: uppercase;
        }

        h2 {
            max-width: 17.5rem;
            width: 100%;
        }

        ul {
            align-items: center;
            display: flex;
            justify-content: space-between;
            max-width: 16rem;
            width: 100%;
        }

        .all-games-button {
            align-items: center;
            color: $primary-default;
            display: grid;
            font-size: 1.6rem;
            font-weight: 600;
            grid-template-columns: 1rem 1fr;
            gap: 1rem;
            max-width: 14.6rem;
            width: 100%;
        }
    }

    .games-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 4.7rem 3.2rem;

        .all-games-card {
            align-items: center;
            border: 0.15rem solid #212428;
            border-radius: 0.4rem;
            display: flex;
            flex-direction: column;
            gap: 3.4rem;
            justify-content: center;
            max-height: 38.4rem;

            img {
                max-width: 8.677rem;
            }

            span {
                display: flex;
                font-weight: 600;
                gap: 1.2rem;
            }
        }
    }
}

